<template page>
  <style>
    :host {
      display: block;
      box-sizing: border-box;
      margin: 0 auto;
      padding: 16px;
    }
  </style>
  <h2>自定义表单</h2>
  <o-fill :value="formArr">
    <div>
      <o-if :value="$data.type === 'radio'">
        <p-radio-group
          sync:value="$data.defaultValue"
          :options="$data.options"
        />
      </p-radio-group>
    </o-if>
    </div>
  </o-fill>
  <script>
    export default () => {
      return {
        data: {
          formArr: [],
        },
        proto: {
          async init(arr) {
            this.formArr = arr;
          },
        },
      };
    };
  </script>
</template>
